{% extends 'base.html' %}

    {% block title %}Dashboard{% endblock  %}
    {% block content %}
    <h1>Welcome {{user.username}}</h1>
    {% comment %} <a href="http://127.0.0.1:8000">Home</a> {% endcomment %}
    {% comment %} <ul>
        <li>
            <a href="http://127.0.0.1:8000/problem1">Sorted array</a>
        </li>
    </ul> {% endcomment %}
    
    {% if problems_list %}
    <div class="container my-3">
        <h2 class="text-center">Problems</h2>
        <table style="width:100%" >
            <tr>
              <th>S.no.</th>
              <th style="width:50%">Problem</th>
              <th>Difficulty</th>
              <th>Verdict</th>
            </tr>
            {% for problem in problems_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a class="text-decoration-none" href="{% url 'problem_detail' problem.id %}" >{{problem.name}} </a></td>
                <td>{{problem.difficult}}</td>    
                {% comment %} <td>Unsolved</td> {% endcomment %}
                {% if problem in solution %}
                    <td>Solved</td>
                {% else %}
                    <td>Unsolved</td>
                {% endif %}
            </tr>
            
            {% comment %} <li> <a href="{% url 'problem_detail' problem.id %}">{{problem.name}} </a></li> {% endcomment %}
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p> No Problems available yet </p>
    {% endif %}
{% endblock  %}