{% extends 'base.html' %}

    {% block title %}{{problem.name}}{% endblock  %}
    {% block content %}
    <h3>
        {{problem.name}}
    </h3>
    <p> {{problem.problem_statement}} </p>
    <h4>Constraints</h4>
    <ul>
        {{problem.constraints}}
    </ul>
    <form method="Post" action="{% url 'submit' problem.id %}">  
        {% csrf_token %}
        <div class="container">   
            <div style="margin: 5px; ">
                <label for="program_language">Choose a language:</label>

            <select name="languages" id="lang1">
                <option value="Cpp">Cpp</option>
                <option value="Python">Python</option>
            </select>
            
            </div>
            <textarea id="code" name="code" rows="25" cols="150">Write Your Code Here</textarea>
            <div>
            <button type="submit" class="btn btn-primary" style="margin: 12px;">Submit</button>
            </div>
        </div>   
    </form>     

{% endblock  %}
