<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{problem.name}} </title>
</head>
<body>
    <a href="http://127.0.0.1:8000">Home</a>
    <a href="http://127.0.0.1:8000/dashboard">Dashboard</a>
    <h3>
        {{problem.name}}
    </h3>
    <p> {{problem.problem_statement}} </p>
    <h4>Constraints</h4>
    <ul>
        {{problem.constraints}}
    </ul>
    {% comment %} <h4>Input</h4>
    <p>On first line n,on second line n numbers with space in between.</p>
    <h4>Output</h4>
    <p>Output n numbers in in increasing order</p>
    <label for="code">Code Your solution</label> {% endcomment %}

    {% comment %} <form method="Post" action="{% url 'problem_detail' problem.id %}">   {% endcomment %}
    <form method="Post" action="{% url 'submit' problem.id %}">  
    {% comment %} <form method="Post">   {% endcomment %}
        {% csrf_token %}
        <div class="container">   
            <label for="program_language">Choose a language:</label>

            <select name="languages" id="lang1">
                <option value="Cpp">Cpp</option>
                <option value="Python">Python</option>
                {% comment %} <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option> {% endcomment %}
            </select>

            <textarea id="code" name="code" rows="25" cols="150"></textarea>
            <button type="submit">Submit</button>
        </div>   
    </form>     

    <!-- <div>
    <textarea id="code" name="code" rows="25" cols="150" method="POST">
    </textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div> -->
    
</body>
</html>