<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OJ Home</title>
    <style>
        /* h1{
        } */
        body{
            margin: auto;
            text-align: center;
            background-color: rgb(167, 162, 239);
        }
        button {
            text-align: center;
        background-color: #3c3d3e;
        /* color: white; */
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 300px;
    }
    button{
        color: white;
    }
    button:hover {
        opacity: 0.8;
    }
    </style>
</head>
<body>
    {% block content %}
        <h1>Welcome to OJ</h1>
        
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">
            <button>Problems</button>
        </a>
        <a href="{% url 'logout' %}">
            <button>Logout</button>
        </a>
        
        {%else%}
        <a href="{% url 'login_url' %}">
        <button>Login<br></button>
        </a>
        <a href="{% url 'register' %}">
            <button>Register</button>
        </a>
        {%endif%}
    {% endblock %}

</body>
</html>